/* login.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4; /* Color de fondo */
    color: #000000; /* Color de texto */
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.card {
    border: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.image-side-login {
    background-color: #874e96; /* Morado oscuro */
    padding: 20px;
    text-align: center;
}

.image-side-login p {
    font-size: 20px;
}

.btn-primary {
    background-color: #874e96; /* Morado oscuro */
    color: #ffffff; /* Texto en blanco */
    font-size: 16px;
    border: none;
}

.btn-primary:hover {
    background-color: #7b7b81; /* Morado más oscuro al pasar el ratón */
}

.form-group {
    position: relative;
    margin-bottom: 1.5rem;
}

.form-group span {
    position: absolute;
    top: 15px;
    left: 15px;
    color: #686868;
    pointer-events: none;
    transition: 0.3s;
}

.form-group input:focus ~ span,
.form-group input:valid ~ span {
    top: -12px;
    font-size: 12px;
    color: #874e96; /* Morado oscuro */
}

.form-side {
    padding: 20px;
}

#look-pass {
    cursor: pointer;
}

.error-message {
    font-size: 14px;
    color: red;
    margin-top: 20px;
}
