body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4; /* Color de fondo */
    color: #000000; /* Color de texto */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    border: 2px solid #000000; /* Borde negro */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    padding: 20px;
    background-color: #ffffff; /* Fondo blanco */
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 50%; /* Borde redondeado para la imagen */
    margin-bottom: 10px;
}

.name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.description {
    font-size: 16px;
    margin-bottom: 20px;
}