{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block description %}{% endblock %}"/>
    <title>{% block title %} Networking | Inicio {% endblock %}</title>
    {% block head %}
    <!-- Incluye aquí tus archivos de estilo personalizados o scripts adicionales si es necesario -->
    {% endblock %}
</head>

<body>
    {% include "navbar.html" %}

    <div class="container">
        {% block content %}
        <!-- Contenido común a todas las secciones -->
        {% endblock %}
    </div>


     

  

    {# Puedes agregar más secciones según sea necesario #}

    {# {% include "footer.html" %} #}

    {% block scripts %}
    <!-- Incluye aquí tus scripts adicionales si es necesario -->
    {% endblock %}
</body>
</html>
