{% extends "base.html" %}
{# {% load staticfiles %} #}
{% load static %}

{% block head %}
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
 {% endblock %}

 {% block content %}

 <br><br><br><br>
  <center>
  <font color="#686868" size="5" face="Comic Sans MS,Arial,Verdana">EXPERIENCIAS</font>
   <br>
  <img src="{% static 'images/chica1.jpg'%}" height='340' width='390'>
  </center>

 {% if not request.user.is_authenticated %}

 {% endif %}

 {% if request.user.is_authenticated %}
 {% endif %}

<font size="3">
<table class="table table-bordered">
	<thead>
        <tr>
			<th bgcolor="#F5DA81">ID</th>
			<th bgcolor="#F5DA81">EMPRESA</th>
			<th bgcolor="#F5DA81">FECHA</th>
			<th colspan="4" style="text-align:center;" bgcolor="#AAF5AA">OPERACIONES</th>
        </tr>
		</thead>
		<tbody>
        {% for r in lista_experiencias %}
				<td> {{ r.id }} </td>
                <td> {{ r.empresa|upper|slice:"0:12" }} </td>
                <td> {{ r.fecharecogida|date:"j/m/y" }} </td> <!--la original d-M-Y -->

            <form action="" method="post">
            {% csrf_token %}
			<!-- ojo las url no llevan / -->
			<td><a class='btn btn-primary btn-sm' href="{% url 'ver_experiencia' id=r.id %}">VER</a></td>
			<td><a class='btn btn-danger btn-sm'  href="{% url 'home' %}">ANULAR</a></td>
			<td><a class='btn btn-success btn-sm' href="{% url 'home' %}">EDITAR</a></td>
            </form>
          </tr>
        {% endfor %}
		 </tbody>
    </table>
</font>

{% if lista_experiencias.has_other_pages %}
<font size="4">
  <ul class="pagination">
    {% if lista_experiencias.has_previous %}
      <li><a href="?page={{ lista_experiencias.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in lista_experiencias.paginator.page_range %}
      {% if reservas.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if lista_experiencias.has_next %}
      <li><a href="?page={{ lista_experiencias.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
</font>
{% endif %}


{% endblock content %}
