{% extends "base.html" %}
{# {% load staticfiles %} #}
{% load static %}

{% block head %}

<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
<style>
    .btn-purple,.btn-success,.btn-danger{
      background-color: purple;
      border-color: purple;
      width: 100px;
      height : 40px;
      font-size: 20px;
      color: white;  /* Cambia el color del texto si es necesario */
  }
  </style> 
{% endblock %}

 {% block content %}

 <br><br><br><br>
  <center>
  <font color="#686868" size="5" face="Comic Sans MS,Arial,Verdana">Seguidores</font>

  </center>

 {% if not request.user.is_authenticated %}

 {% endif %}

 {% if request.user.is_authenticated %}
 {% endif %}

<font size="3">
<table class="table table-bordered">
	<thead>
        <tr>
			<th bgcolor="#F5DA81">ID</th>
			<th bgcolor="#F5DA81">SEGUIDOR</th>
			<th colspan="4" style="text-align:center;" bgcolor="#AAF5AA">ACCIONES</th>
        </tr>
		</thead>
		<tbody>
        {% for r in lista_seguidores %}
				<td> {{ r.id }} </td>
                <td> {{ r.seguidor|upper|slice:"0:12" }} </td>

            <form action="" method="post">
            {% csrf_token %}
			<!-- ojo las url no llevan / -->
            <td><a class='btn btn-danger' href="{% url 'home' %}">ANULAR</a></td>
            <td><a class='btn btn-success' href="{% url 'home' %}">EDITAR</a></td>
            <td><a class='btn btn-purple' href="{% url 'home' %}">VER</a></td>
            </form>
          </tr>
        {% endfor %}
		 </tbody>
    </table>
</font>

{% if lista_seguidores.has_other_pages %}
<font size="4">
  <ul class="pagination">
    {% if lista_seguidores.has_previous %}
      <li><a href="?page={{ lista_seguidores.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in lista_seguidores.paginator.page_range %}
      {% if reservas.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if lista_seguidores.has_next %}
      <li><a href="?page={{ lista_seguidores.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
</font>
{% endif %}


{% endblock content %}
